@import "tailwindcss";

body {
  background-color: #f2f5f9;
}

.active {
  background: linear-gradient(90deg, #ff9c1a, #e80505);
  color: white;
}

.hero {
  background: #ede4ff;
  background: radial-gradient(
    circle,
    rgba(237, 228, 255, 1) 0%,
    rgba(215, 187, 245, 1) 25%,
    rgba(160, 118, 249, 1) 50%,
    rgba(101, 40, 247, 1) 100%
  );
}
